In [9]:
import numpy as np 
import pandas as pd
import re
from datetime import datetime
import time
import warnings
!pip install mysql-connector-python
!pip install SQLAlchemy
import mysql.connector as conn
from sqlalchemy import create_engine

from pandas.core.common import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

Requirement already satisfied: mysql-connector-python in c:\users\xabie\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\xabie\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Requirement already satisfied: SQLAlchemy in c:\users\xabie\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\xabie\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)

In [10]:
df = pd.read_csv("/Users/xabie/proyecto/1-PROYECTO/attacks.csv", encoding='latin_1')

In [11]:
df.head(5)

df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [12]:
df = df.rename(columns={k:v for k,v in [('Unnamed: 22','Unnamed22'), ('Species ', 'Species'), ('Sex ', 'Sex'), ('Investigator or Source', 'Investigator_Source'), ('Unnamed: 23', 'Unnamed23'), ('Fatal (Y/N)', 'Fatal'), ('original order', 'Original_order'), ('href formula', 'Href_formula'), ('href', 'Href'), ('Case Number', 'Case_Number'), ('Case Number.1', 'Case_Number_1'), ('Case Number.2', 'Case_Number_2')]})
# cambiamos los nombres de las columnas con un diccionario para no tener problemas al subsetear

In [13]:
df.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator_Source', 'pdf', 'Href_formula', 'Href', 'Case_Number_1',
       'Case_Number_2', 'Original_order', 'Unnamed22', 'Unnamed23'],
      dtype='object')

In [14]:
dim_original=df.shape
df.shape

(25723, 24)

In [15]:
df.replace("", np.nan, inplace=True)

In [16]:
df=df.dropna(0, thresh=3)

C:\Users\xabie\AppData\Local\Temp\ipykernel_26532\131584998.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  df=df.dropna(0, thresh=3)

In [17]:
df.shape

(6302, 24)

In [18]:
df

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator_Source,pdf,Href_formula,Href,Case_Number_1,Case_Number_2,Original_order,Unnamed22,Unnamed23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [19]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Case_Number               1
Year                      2
Type                      4
Country                  50
Area                    455
Location                540
Activity                544
Name                    210
Sex                     565
Age                    2831
Injury                   28
Fatal                   539
Time                   3354
Species                2838
Investigator_Source      17
Href_formula              1
Unnamed22              6301
Unnamed23              6300
dtype: int64

In [20]:
df.dtypes

Case_Number             object
Date                    object
Year                   float64
Type                    object
Country                 object
Area                    object
Location                object
Activity                object
Name                    object
Sex                     object
Age                     object
Injury                  object
Fatal                   object
Time                    object
Species                 object
Investigator_Source     object
pdf                     object
Href_formula            object
Href                    object
Case_Number_1           object
Case_Number_2           object
Original_order         float64
Unnamed22               object
Unnamed23               object
dtype: object

In [21]:
bad_index=df.Unnamed22[df.Unnamed22.notna()].index

bad_index

Int64Index([1478], dtype='int64')

In [22]:
df.loc[1478,]

Case_Number                                                   2006.05.27
Date                                                         27-May-2006
Year                                                              2006.0
Type                                                          Unprovoked
Country                                                              USA
Area                                                              Hawaii
Location                                              North Shore, O'ahu
Activity                                                         Surfing
Name                                                        Bret Desmond
Sex                                                                    M
Age                                                                   31
Injury                                 No injury, shark bumped surfboard
Fatal                                                                  N
Time                                                               16h00
Species                                                              NaN
Investigator_Source                                           R. Collier
pdf                                               2006.05.27-Desmond.pdf
Href_formula           http://sharkattackfile.net/spreadsheets/pdf_di...
Href                   http://sharkattackfile.net/spreadsheets/pdf_di...
Case_Number_1                                                 2006.05.27
Case_Number_2                                                 2006.05.27
Original_order                                                    4825.0
Unnamed22                                                   stopped here
Unnamed23                                                            NaN
Name: 1478, dtype: object

In [23]:
na_to_ukwn = ['Species', 'Investigator_Source', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Injury', 'Type', 'Href_formula']

In [24]:
for i in na_to_ukwn:
    df[i]=df[i].fillna('Unknown')

In [25]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Case_Number       1
Year              2
Sex             565
Age            2831
Fatal           539
Time           3354
Unnamed22      6301
Unnamed23      6300
dtype: int64

In [26]:
#Normalizamos la variable Sex

In [27]:
set(df.Sex)

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [28]:
for i in range(len(df)):
    if str(df.Sex[i]).startswith('M'):
        df.Sex[i] = 'M'
    elif str(df.Sex[i]).startswith('F'):
        df.Sex[i] = 'F'
    else:
        df.Sex[i] = 'Unknown'

In [31]:
set(df.Sex)

{'F', 'M', 'Unknown'}

In [35]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Case_Number       1
Year              2
Age            2831
Fatal           539
Time           3354
Unnamed22      6301
Unnamed23      6300
dtype: int64

In [36]:
#Normalizamos la variable Age

In [38]:

#Buscada edad media ataques de tiburÃ³n(29 aÃ±os)
lst= []
patron = '\d+'
for e in df.Age:
    try:
        lst.append(int(re.findall(patron,e)[0]))
    except:
        lst.append(int(29))

df.Age=lst

In [39]:
print(set(df.Age))

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 81, 82, 84, 86, 87}

In [40]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Case_Number       1
Year              2
Fatal           539
Time           3354
Unnamed22      6301
Unnamed23      6300
dtype: int64

In [41]:
#NORMALIZAMOS LA VARIABLE YEAR

In [42]:
#buscando las filas con aÃ±o na, sustituimos por el aÃ±o de la fecha
bad_index=df.Year[df.Year.isna()].index
bad_index

Int64Index([187, 6079], dtype='int64')

In [43]:
df.loc[(187,6079),] #las mostramos

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator_Source,pdf,Href_formula,Href,Case_Number_1,Case_Number_2,Original_order,Unnamed22,Unnamed23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,Unknown,Spearfishing,Kerry Daniel,M,...,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,Unknown,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [44]:
df.Year[187] = (2017) #Las cambiamos por el ano de Date
df.Year[6079] = int(1836)

In [45]:
df.loc[(187,6079),]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator_Source,pdf,Href_formula,Href,Case_Number_1,Case_Number_2,Original_order,Unnamed22,Unnamed23
187,2017.01.08.R,Reported 08-Jan-2017,2017.0,Invalid,AUSTRALIA,Queensland,Unknown,Spearfishing,Kerry Daniel,M,...,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,1836.0,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,Unknown,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [46]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Case_Number       1
Fatal           539
Time           3354
Unnamed22      6301
Unnamed23      6300
dtype: int64